<!-- call it directly from service and array item as below -->
<!-- <p>{{ todoService.todoItems[0].title}}</p> -->
<!-- or from the signal as below -->
<!-- <p>{{ todoItems()[0].title}}</p> -->
<!-- or using built in for loop from angular -->

<h3>Todo Items</h3>

<!-- The folowing shows built in control flow blocks to render items conditionally-->
@if(!todoItems().length){
    <p>Loading...</p>
}

<!-- The folowing shows filtering implemented using pipes-->
<form>
    <label>Filter Todos</label>
    <input
      name="searchTerm"
      [(ngModel)]="searchTerm"
      placeholder="Search todos..."
    />
  </form>
  <ul class="todos">
    @for (todo of todoItems() | filterTodos: searchTerm() ; track todo.id) {
        <li>
          <app-todo-item
            (todoToggled)="updateTodoItem($event)"
            [todo]="todo">
          </app-todo-item>
        </li>
      }
  </ul>
